.input_group{
    @apply flex border rounded-xl bg-neutral-100;
    position: relative;
}

.input_text{
    @apply w-full py-4 px-6 border rounded-xl bg-neutral-100;
    @apply focus:outline-none border-none
}

.button{
    @apply w-full bg-black mt-5 rounded-xl;
    @apply py-3 text-gray-50 text-lg
}

.button:hover{
    @apply bg-primary text-white border-none;
    @apply text-white border;
}

.button_custom{
 @apply w-full border py-3 flex justify-center gap-2 hover:bg-gray-200;
}

.input_text + *{
    color: #CBD5E1;
}

.input_text:focus + *{
    color:#FF9501;
}

.input_text:not([]) ~ span:hover *{
    color: #FF9501;
    cursor: pointer;
}